version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.4
    working_directory: ~/snipetto_cli
    steps:
      - setup_remote_docker
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
      - run:
          name: CI Dependency install
          command: pip3 install -r requirements/ci.txt
      - run:
          name: Pep8 check
          command: flake8 .
      - run:
          name: Isort check
          command: isort -rc --check-only --diff .
      - run:
          name: Bandit
          command: bandit -r .
      - run: echo 127.0.0.1 devhost | sudo tee -a /etc/hosts
      - run:
          name: Run and setup snippetto service & Test CLI
          command: |
            CONTAINER_ID=$(docker run -d -e "ENVIRONMENT=development" -e "DJANGO_SETTINGS_MODULE=settings.development" -p 8000:8000 trurlit/snippetto-service:latest)
            docker exec -it ${CONTAINER_ID} python manage.py migrate
            docker exec -it ${CONTAINER_ID} python manage.py create_test_user
            ifconfig
            docker ps
            python setup.py test
