version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.4
    working_directory: ~/snipetto_cli
    steps:
      - setup_remote_docker
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
      - run:
          name: CI Dependency install
          command: pip3 install -r requirements/ci.txt
      - run:
          name: Pep8 check
          command: flake8 .
      - run:
          name: Isort check
          command: isort -rc --check-only --diff .
      - run:
          name: Bandit
          command: bandit -r .
      - run:
          name: Pull service image
          command: docker pull trurlit/snippetto-service:latest
      - run:
          name: Run service image
          command: CONTAINER_ID=$(docker run -d -e "ENVIRONMENT=development" -e "DJANGO_SETTINGS_MODULE=settings.development" trurlit/snippetto-service:latest)
      - run:
          name: Service migrations
          command: docker exec -it ${CONTAINER_ID} python manage.py migrate
      - run:
          name: Create test user
          command: docker exec -it ${CONTAINER_ID} python manage.py create_test_user
      - run:
          name: Test CLI
          command: python setup.py test
